aiofiles==24.1.0
asgiref==3.8.1
blinker==1.8.2
click==8.1.7
exceptiongroup==1.2.1
Flask==3.0.3
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mouse==0.7.1
numpy==2.0.0
opencv-python==4.10.0.84
priority==2.0.0
pynput==1.3.2
python-xlib==0.33
six==1.16.0
taskgroup==0.0.0a4
tomli==2.0.1
typing_extensions==4.12.2
websockets==12.0
Werkzeug==3.0.3
wsproto==1.2.0
